<div class="item0" style={{game.stats.item0|itemOrBlank}}><div class="itemBackImg"></div></div>
<div class="item1" style={{game.stats.item1|itemOrBlank}}><div class="itemBackImg"></div></div>
<div class="item2" style={{game.stats.item2|itemOrBlank}}><div class="itemBackImg"></div></div>
<div class="item3" style={{game.stats.item3|itemOrBlank}}><div class="itemBackImg"></div></div>
<div class="item4" style={{game.stats.item4|itemOrBlank}}><div class="itemBackImg"></div></div>
<div class="item5" style={{game.stats.item5|itemOrBlank}}><div class="itemBackImg"></div></div>