<div class="rankedTeam row" ng-repeat="team in teamList">
  <div>
    <div>
      <div class="medal"><img src="../img/{{team.league_entries[0].league.tier}}_{{team.league_entries[0].division | numeral}}.png"></div>
      <div class="tierRank">
        <span class="tierRankText">{{team.league_entries[0].league.tier}} {{team.league_entries[0].division}}</span>
        <span class="leaguePoints">{{team.league_entries[0].league_points}} LP</span>
      </div>
      <div class="typeTeam">
        <div class="statSummaryType">{{team.team_stat_detail[0].team_stat_type | subType}}</div>
        <div class="teamName">
          <span class="teamNameText">{{team.name}}</span>
        </div>
      </div>
    </div>
    <div class="winLose">
      <span class="total">{{team.team_stat_detail[0].wins + team.team_stat_detail[0].losses}}G </span>
      <span class="wins">{{team.team_stat_detail[0].wins}}W </span>
      <span class="losses">{{team.team_stat_detail[0].losses}}L</span>
      <span class="winRatio">({{team.team_stat_detail[0].wins / (team.team_stat_detail[0].wins + team.team_stat_detail[0].losses) * 100 | number: 0}}%)</span>
    </div>
  </div>
</div>