<div class="sumRating row">
    <div class="medal">
        <img src="../img/{{soloQueue.league.tier}}_{{soloQueue.division | numeral}}.png" height="100" width="100">
    </div>
    <div class="tierRankInfo">
        <div class="tierRankBig">
            <span class="tierRankTextBig">{{soloQueue.league.tier}} {{soloQueue.division}}</span>
        </div>
        <div class="leaguePointsBig">
            <span class="leaguePointsTextBig">{{soloQueue.league_points}} LP</span>
        </div>
        <div class="winLoseBig">
            <span class="winLoseTextBig">{{soloQueue.wins}} Wins</span>
        </div>
        <div class="leagueName">
            <span class="leagueName">{{soloQueue.league.name}}</span>
        </div>
    </div>
</div>