<div class="container">
  <div class="row">
    <div class="summonerInfoHeader col-md-12" style="background-image: url(../img/summoner_info_header.png)">
      <div class="summonerInfoText">
        <span class="summonerInfoName">{{summonerInfo.name}}</span>
        <span class="summonerInfoIcon"><img src="../img/profile_icons/{{summonerInfo.profile_icon_id}}.png"</span>
        <span class="summonerInfoRegion">{{summonerInfo.region | uppercase}}</span>
        <span class="summonerInfoLevel">Level {{summonerInfo.summoner_level}}</span>
      </div>
    </div>
  </div>
</div>