<div>
  <h3>Summoner Search</h3>

  <label for="region">
    Region
  </label>
  <!--<select ng-model="region">-->
    <!--<option selected="selected" value="na">NA</option>-->
    <!--<option value="euw">EUW</option>-->
    <!--<option value="eune">EUNE</option>-->
    <!--<option value="br">BR</option>-->
    <!--<option value="lan">LAN</option>-->
    <!--<option value="las">LAS</option>-->
    <!--<option value="kr">KR</option>-->
    <!--<option value="oce">OCE</option>-->
    <!--<option value="ru">RU</option>-->
    <!--<option value="tr">TR</option>-->
  <!--</select>-->

  <select ng-init="selectedRegion = preferredRegion || 'na'" ng-model="selectedRegion" ng-options="region.value as region.name for region in regionOptions"></select>

  <label for="name">
    Name
  </label>
  <input type="text" ng-model="name" />

  <button type="button" class="btn btn-default" ng-click="toSummonerDetail(selectedRegion, name)">Search</button>

  <!--Pref Region: {{preferredRegion}}-->

  <button type="button" class="btn btn-default" ng-click="updateSummonerFromURL()">Update Data</button>

</div>