<div>
    <div>
        <div class="medal"><img src="../img/gold_6.png"></div>
        <div class="tierRank">
            <span class="tierRankText">{{team.league_entries[0].league.tier}} {{team.league_entries[0].division}}</span>
            <span class="leaguePoints">12 LP</span>
        </div>
        <div class="typeTeam">
            <div class="statSummaryType">Ranked 3v3 Team</div>
            <div class="teamName">
                <span class="teamNameText">{{team.name}}</span>
            </div>
        </div>
    </div>
    <div class="winLose">
        <span class="total">11G </span>
        <span class="wins">6W </span>
        <span class="losses">5L</span>
        <span class="winRatio">Win Ratio 55%</span>
    </div>
</div>