<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Edit Template</h4>
            <p class="category">Customize your template</p>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Company (disabled)</label>
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Email address</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Fist Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Adress</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">City</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Country</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Postal Code</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-danger pull-right">Update Template</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
