<div class="page-wrapper">
  <div class="wrapper-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
          <img class="p-5" src="/assets/img/logo.png">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="text-center">Sorry... Something went wrong.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="text-center">Redirecting....</h3>
        </div>
      </div>
    </div>
  </div>
</div>
