.loadingPage {
    background: white no-repeat;
  background-image: 
    -webkit-radial-gradient(rgba(225,225,225,.3) 0%, transparent 60%),
    -webkit-linear-gradient(top, rgba(191, 229, 203, 1) 0%, rgba(191, 229, 203, 1) 15%, rgba(191, 229, 203, 0) 100%),
    -webkit-linear-gradient(left, rgba(10, 110, 206, 1) 0%, rgba(10, 110, 206, 1) 30%, rgba(0, 158, 150, .8) 100%);
  background-size: 60% 80%, 100% 100%, 100% 100%;
  background-position: right -30% top -70%;
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.loadingPage svg {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: calc(50vh - 150px);
}
#text_mask{
    font-family: 'Open Sans';
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 320px;
    height: auto;
    color: white;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
}
#text_mask h1{
  font-weight: normal;
  font-size: 140px;
  line-height: .8em;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: auto;
}
#text_mask p{
  font-size: 32px;
  margin: 0;
  margin-top: 16px;
  display: inline-block;
}
#home_btn{
  display: block;
  width: 280px;
  padding: 8px 0;
  margin: 0 auto;
  margin-top: 8px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  border: 1px solid rgba(255,255,255,.6);
}