<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
            <div class="list-group panel">
                <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Item 1</span> </a>
                <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Item 2</span> </a>
            </div>
        </div>
        <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
            <a href="#sidebar" data-toggle="collapse"><i class="pe-7s-menu"></i></a>
            <hr>
            <div class="page-header">
                <h1 class="pb-5">Template1</h1>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-info" style="width: 20rem;">
                            <div class="card-block">
                                <h4 class="card-title">Quote Title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title-color-dropdown">
                            <div class="btn-group" ngbDropdown>
                                <button class="btn btn-outline-primary" ngbDropdownToggle>Drop me</button>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                    <button class="dropdown-item">One</button>
                                    <button class="dropdown-item">Two</button>
                                    <button class="dropdown-item">Four!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>